/* Button.css */

.custom-button {
    background: linear-gradient(to right, #31ed66, #53f5d5);
    color: white;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    margin-top: 1.4rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .custom-button:hover {
    background: linear-gradient(to right, #11ed91, #f30909);
  }
  