/* Button.css */

.custom-button {
    background: linear-gradient(to right, #ff5722, #ffeb3b);
    color: white;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .custom-button:hover {
    background: linear-gradient(to right, #ff4081, #ff9800);
  }
  