/* Home.css */

/* Default style for banner image */
.banner-image {
    width: 100%; /* Set the image width to 100% of its container */
    height: 800px; /* Automatically adjust the image height while maintaining aspect ratio */
    max-width: 100%; /* Ensure the image doesn't exceed its natural width */
  }
  
  /* Responsive styles for different screen sizes */
  @media (max-width: 768px) {
    /* Styles for devices with a maximum width of 768px (e.g., tablets) */
    .banner-image {
      width: auto;
    }
  }
  
  @media (max-width: 480px) {
    /* Styles for devices with a maximum width of 480px (e.g., smartphones) */
    .banner-image {
     width: auto;
    }
  }
  