/* Banner.css */

/* Banner container */
.banner-container {
  position: relative;
}

/* Banner text with gradient color */
.banner-text {
  position: absolute;
  top: 15%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  /* Apply gradient background to text */
  background-image: linear-gradient(to right, #f40404, #f7ff02);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Make text transparent */
}

/* Banner text1 */
.banner-text1 {
  position: absolute;
  top: 70%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.0rem;
  font-weight: bold;
  /* Apply gradient background to text */
  background-image: linear-gradient(to right, #1c04f4, #02ffab);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Make text transparent */
}

/* Additional Tailwind CSS styles */
@media (min-width: 768px) {
  .banner-text {
      font-size: 2rem;
      left: 2rem;
      top: 70%;
  }
  .banner-text1 {
      font-size: 2rem;
      left: 2rem;
      top: 80%;
  }
}
